---
// COMPONENTS
import SingleCase from "./SingleCase.astro";

// CONSTANTS
import { CASES } from "../../constants/cases";
const totalCases = CASES.length
const { data } = Astro.props
// console.log( "a", data )
---

<section>
	{
		data.map((c, idx) => {
			console.log(c)
			return <div class="py-8">
				<SingleCase title={c.title} img={c.cover} alt={c.alt} color={c.color_code} current={idx + 1} total={data} />
			</div>
		})
	}
</section>